
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --WHITE: #F5F5F5;
    --BLACK: #170C0F;
    --DARK: #334858;
    --LIGHT: #9ABBC6;
    --WHITE2: #FFFFFF;

    --h1Size: 64px;
    --h2Size: 30px;
    --h3Size: 20px;
    --h4Size: 12px;
    --pSize: 20px;

    --regular-font: 700;
    --bold-font: 400;

    --h1-fontsize: 4rem;
    --h2-fontsize: 2rem;
    --h3-fontsize: 1.25rem;
    --regular-fontsize: 1rem;
    --samll-fontsize: 0.75rem;

    --regular-border: 0.5rem;
}

body {
    font-family: "Montserrat";
    margin: 0px;
}

h1 {
    color: var(--WHITE2);
    font-size: var(--h1Size);
}

ul {
    display: flex;
    justify-content: center;
    gap: 90px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 90px;
    padding-left: 80px;
    padding-right: 80px;

    position: fixed;
    top: 0;
    background-color: var(--WHITE2);
}

li {
    list-style: none;
}

a { 
    font-size: var(--h4-fontsize);
    color: var(--DARK);
    text-decoration: none;
}

.contact-me-btn {
    background-color: var(--LIGHT);
    color: var(--WHITE2);
    display: flex;
    padding: 10px ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.contact-me-btn:hover {
    background-color: var(--DARK);
}


#home {
    background-image: url("IMATGES/FOTO PATADA.jpg");
    height: 750px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#home h1 {
    background-color: var(--BLACK);
    border-radius: 8px;
}

#about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    background-color: var(--LIGHT);
}

#about-me-title {
    grid-column: span 3;
    background-color: var(--DARK);
    justify-content: center;
    align-items: center;
    display: flex;
}

#about-me img {
    margin-left: 80px;
    margin-bottom: 30px;
    border-radius: 8px;
    align-items: center;
}

.about-me-text {
    background-color: var(--WHITE);
    border-radius: 8px;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
    
}

#about-me-text-all {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    color: var(--DARK)
}

#education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    background-color: var(--WHITE2);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#education-title {
    background-color: var(--DARK);
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    display: flex;
}

#education-text {
    display: flex;
    background-color: var(--WHITE2);
}

#education-grup1 {
    display: flex;
    gap: 24px;
    background-color: var(--WHITE2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-left: 80px;
    color: var(--WHITE2);
}

#education-grup2 {
    display: flex;
    gap: 24px;
    background-color: var(--WHITE2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-right: 80px;
    color: var(--WHITE2);
}

.education-words {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LIGHT);
    border-radius: 8px;
    gap: 10px;
    text-align: center;
    padding-left: 10px;
}

#athletics-title {
    background-color: var(--DARK);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    height: 185px;
}

#athletics-text-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--WHITE);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.athletics-text {
    display: flex;
    grid-column: span 1;
    flex-direction: column;
    background-color: var(--LIGHT);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    color: var(--WHITE2)
}

.athletics-text img {
    margin-top: 20px;
    border-radius: 8px;
}

#karate-title {
    background-color: var(--DARK);
    grid-column: span 3;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    height: 185px;
}

#karate {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: var(--LIGHT);
}

.karate-grup {
    display: flex;
    flex-direction: column;
    gap:24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    color: var(--DARK)
}

.karate-text {
    text-align: center;
    display: flex;
    background-color: var(--WHITE2);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    color: var(--DARK)
}

.karate-grup img {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#hobby {
    background-color: var(--LIGHT);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hobby-card {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.hobby-text {
    background-color: var(--WHITE);
    border-radius:  8px;
    color: var(--DARK);
    margin-right: 80px;
    margin-left: 50px;
    text-align: center;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hobby-imatge {
    background-color: var(--DARK);
    margin-left: 80px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    min-width: 130px;
}

.hobby-imatge img {
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

#hobby-title {
    display: flex;
    background-color: var(--DARK);
    justify-content: center;
    align-items: center;
}

#contact-me-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DARK);
    color: var(--WHITE2)
}

#contact-me-section {
    background-color: var(--LIGHT);
    height: 860px;
    color: var(--WHITE);
    font-size: var(--h2-fontsize);    
}

label {
    font-size: var(--h4-fontsize);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 0px 80px;
    color: var(--DARK);
}

.span12{ 
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.span12center{ 
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    width: 85px;
}

.span6 {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 8px;
    height: 48px;
    background-color: var(--LIGHT);
}

#details {
    height: 300px;
}

.center {
    display: flex;
    justify-content: center;
}

#contact-me {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}